<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/addnotes.css" />

    <title>Add note</title>

  </head>
  <body>
    <div class="header">
      <h1>Notes</h1>
    </div>
     
      <div id="wrapper">

       
        <form action=<%=Action%> id="new-notes-form" method="POST">

          <div id="margin" style="color: white;font-weight: bold; font-size: 25px;" >Title: <input id="title" type="text" name="title" value=<%=Title%>></div>
          <textarea placeholder="Enter something funny" id="text" name="content" rows="6" style="overflow: hidden; word-wrap: break-word; resize: none; height: 320px; "><%=Content%></textarea>  
          <input id="button" type="submit" value=<%=Button%>>
        
        </form>
      
      </div>
      
  <script type="text/javascript" src="/script/addnotes.js" ></script>

  </body>

</html>
