
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/links.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <title>Document</title>
    </head>
    <body><div class="Main-container">
      <div class="name-head">BookList</div>
  
      <div class="container">
        <form class="form" action="/user/profile/Bookcreate" method="POST">
          <!-- <h1></h1> -->
  
          <input type="text" name="Bookname" placeholder="Bookname" />
          <button type="submit" id="login-button">Add Book in List</button>
        </form>
      </div>
      <div class="main-last-container">

        <%book_list.reverse()%>

        <%for(let i of book_list) {%>
        <div class="links-contrainer">
          <div class="image">
       
            <a href="<%=i.Link%>"><%=i.Book%></a>
            <a class="delete" href="/user/profile/Bookdelete/?id=<%=i._id%>"><i
              class="fa-solid fa-trash-can"></i></a>
          </div>
        </div>
  
        <%}%>
      </div>
    </div>
    <div class="other-field">
      <a href="/user/profile/">All-Notes</a>
  
      <a href="/user/profile/todo">To-do</a>
      <a href="/user/profile/link/?name=<%=user.name%>">Linktree</a>
      <a href="/user/profile/Book">Books</a>
      <a href="/user/profile/movie">Movie</a>
      <a href="/user/signout">Sign Out</a>
    </div>
     
    </body>
  </html>