<html>
    <head>
        <title>

        </title>
    </head>
   
    <a href="/user/profile"> <%= user.name %></a>
    <h1>Profile</h1>
    <p><%=user.name%></p>
    <p><%=user.email%></p>

</html>